<div class="" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="terminal-header">
    <span class="title">{{ 'sala_espera' | translate }}</span>
    <span class="controls">
      <span class="btn"></span>
      <span class="btn"></span>
      <span class="btn" (click)="cerrarPartida()">x</span>
    </span>
  </div>
  
  <div class="terminal-body">
    <p>{{ 'id_sala' | translate }} <strong>{{ data.id }}</strong></p>
  
    <div class="player-info">
      <p>{{ 'jugador1' | translate }} <strong>{{ data.jugador1_id || 'Esperando...' }}</strong></p>
      <p>{{ 'jugador2' | translate }} <strong>{{ data.jugador2_id || 'Esperando...' }}</strong></p>
    </div>
  
    <p *ngIf="!data.jugador2_id">{{ 'esperando_jugador2' | translate }}</p>
  
    <p *ngIf="data.jugador1_id && data.jugador1_id === userService.getUserId()" class="owner-message">
      {{ 'propietario_sala' | translate }}
    </p>
  
    <button class="start-button" [disabled]="!data.jugador1_id || !data.jugador2_id" (click)="empezarPartida()">
      {{ 'empezar_partida' | translate }}
    </button>
  </div>  
</div>

