.terminal-style {
    background-color: black;
    color: #33ff33;
    font-family: 'Courier New', monospace;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #00ff00;
    min-width: 300px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // margin: 20px;
  }
  
  .language-label {
    font-size: 1.2em;
  }
  
  select {
    background-color: black;
    color: #33ff33;
    border: none;
    padding: 5px;
    font-size: 1em;
    font-family: 'Courier New', monospace;
    width: 100%;
  }
  
  select:focus {
    outline: none;
    border-color: #00cc00;
  }
  
  option {
    background-color: black;
    color: green;
  }

  p {
    font-size: 16px; /* Tamaño por defecto para pantallas grandes */
    line-height: 1.5; /* Espaciado entre líneas */
    margin-bottom: 1rem; /* Espacio inferior para separar los párrafos */
  }
  
@media (min-width: 1024px) {
  .terminal-style {
    min-width: 300px;
  }
}
  
@media (min-width: 768px) and (max-width: 1023px) {
  .terminal-style {
    min-width: 200px;
  }

  p {
    font-size: 14px; /* Ajustado para pantallas de tablet */
  }
}
  
@media (max-width: 767px) {
  .terminal-style {
    min-width: 10px;
  }

  p {
    font-size: 12px; /* Ajustado para pantallas de móvil */
  }
}