<div class="main-section cdk-overlay-pane">
    <app-language-selector></app-language-selector>
    <div class="terminal">
        <h1>$ user_id => {{ userService.getUserId() }}</h1>
        <div class="salas-container">
            <h1>$ ls {{ 'salas_disponibles' | translate }}</h1>
            <ul>
                @for (room of roomService.getRooms(); track room.id) {
                    <li>
                        <p>{{ 'sala' + room.id | translate }}</p>
                        <p>{{ roomService.players(room) }}</p>
                        <button (click)="joinRoom(room.id)">{{ 'join_room_button' | translate }}</button>
                    </li>
                }
                
            </ul>
       </div>
       <div class="no-rooms-message" *ngIf="!roomService.getRooms().length">
            <p>{{ 'no_rooms_message' | translate }}</p>
        </div>
       <article>
            <h1>$ {{ 'create_new_room' | translate }}</h1>
            <button (click)="createRoom()" class="create-room-button">{{ 'create_room_button' | translate }}</button>
       </article>
       
    </div>
</div>