.main-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        display: flex;
        gap: 8px;
        justify-content: start;
        align-items: center;

        h1 {
            font-weight: bold;
        }
    }
}

.terminal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 30px;
}

.terminal-section {
    background-color: black;
    color: #33ff33;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    border: 2px solid #00ff00;
    border-radius: 5px;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .title h1 {
        font-weight: bold;
    }

    .user-id {
        background-color: rgba(0, 255, 0, 0.1);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-family: 'Courier New', monospace;
        color: #00ff00;
        border-radius: 0.375rem;
        font-weight: 500;
    }
}

h1 {
    font-size: 24px;
    color: #33ff33;
    font-family: 'Courier New', Courier, monospace;
}

.salas-container .rooms-title {
    display: flex;
    align-items: center;
    gap: 8px;

    h1 {
        font-weight: bold;
    }
}

.salas-container ul {
    list-style: none;
    padding: 0;
}

.salas-container li {
    border-bottom: 1px solid #00ff00;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .info-room {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}

.salas-container p {
    margin: 5px 0;
}

.salas-container button {
    background-color: #00ff00;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.salas-container button:hover {
    background-color: #33ff33;
}

.create-room-button {
    width: 100%;
    background-color: #00ff00;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    transition: background-color 0.3s;
}

.create-room-button:hover {
    background-color: #33ff33;
}

.no-rooms-message {
    background-color: #ff3333;
    color: white;
    padding: 15px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
    animation: fadeIn 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;


}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reload-container {
    position: relative;
    cursor: pointer;
}

.disclaimer {
    display: none;
    position: absolute;
    top: 100%; /* Ajusta según necesites */
    left: 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.btn-reload:hover + .disclaimer {
    display: block;
    
}

p {
    font-size: 16px; /* Tamaño por defecto para pantallas grandes */
    line-height: 1.5; /* Espaciado entre líneas */
  }

/* Desktop (pantallas grandes) */
@media (min-width: 1024px) {
    .terminal {
        max-width: 1000px;
    }
}
  
@media (min-width: 768px) and (max-width: 1023px) {
    .salas-container {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }


    p {
        font-size: 14px; /* Ajustado para pantallas de tablet */
      }
}
  
@media (max-width: 767px) {
    .salas-container, .user-section {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px; /* Ajustado para pantallas de móvil */
    }

}



/** info card **/

/* Estilos generales para la tarjeta */
.card-info {
    display: none;
    background-color: #1e1e1e; /* Fondo tipo terminal */
    color: #00ff00; /* Texto verde, típico de terminal */
    padding: 20px;
    border: 2px solid #00ff00; /* Borde verde */
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
    text-align: left;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2); /* Sombra verde tenue */
  }
  
  /* Estilos del texto dentro de la tarjeta */
  .card-text {
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Estilos del botón de recarga */
  .reload-button {
    background-color: #333; /* Fondo oscuro del botón */
    color: #00ff00; /* Texto verde */
    border: 2px solid #00ff00; /* Borde verde */
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover para el botón */
  .reload-button:hover {
    background-color: #00ff00; /* Fondo verde al hacer hover */
    color: #1e1e1e; /* Cambia el texto a oscuro */
  }

  hr {
    border-color: #00ff00;
  }
  
  /* Mostrar la tarjeta solo en pantallas pequeñas (por ejemplo, hasta 600px) */
  @media (max-width: 600px) {
    .card-info {
      display: block;
    }
  }
  