
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$tic_tac_toe-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($tic_tac_toe-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($tic_tac_toe-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($tic_tac_toe-theme);
/* You can add global styles to this file, and also import other style files */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* Establece un tamaño de fuente base */
    -webkit-text-size-adjust: 100%; /* Evita el ajuste automático del tamaño de fuente en dispositivos móviles */
}

body {
    font-family: Arial, sans-serif; /* Cambia la fuente a una sans-serif básica */
    font-size: 16px; /* Tamaño de fuente base */
    line-height: 1.5; /* Espaciado entre líneas */
    background-color: #000000; /* Color de fondo */
    color: #333333; /* Color del texto */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Establece el peso de la fuente a normal */
    margin: 0; /* Elimina márgenes de encabezados */
}

ul, ol {
    list-style: none; /* Elimina los estilos de lista predeterminados */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto */
}

img {
    max-width: 100%; /* Asegura que las imágenes no desborden su contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

table {
    border-collapse: collapse; /* Colapsa bordes de tablas */
    width: 100%; /* Asegura que las tablas ocupen el 100% de su contenedor */
}

button {
    border: none; /* Elimina bordes predeterminados */
    background: none; /* Elimina el fondo predeterminado */
    font: inherit; /* Hereda la fuente del elemento padre */
    cursor: pointer; /* Cambia el cursor a puntero */
}

input, textarea {
    font: inherit; /* Hereda la fuente del elemento padre */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina paddings */
    border: none; /* Elimina bordes predeterminados */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-surface {
    border-radius: 5px !important; /* Quitar el borde redondeado del modal */
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5) !important; 
}


  